/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/e781398492503195308dfad84be5a921?family=Kristen+ITC');

/*@font-face {
  font-family: "Kristen ITC";
  src: url('ITCKRIST.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "Kristen ITC"; 
  src: url("//db.onlinewebfonts.com/t/e781398492503195308dfad84be5a921.eot"); 
  src: url("//db.onlinewebfonts.com/t/e781398492503195308dfad84be5a921.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/e781398492503195308dfad84be5a921.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/e781398492503195308dfad84be5a921.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/e781398492503195308dfad84be5a921.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/e781398492503195308dfad84be5a921.svg#Kristen ITC") format("svg"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quiet_backyard_sansregular';
  src: url('quiet_backyard_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PETIT ECRAN */
@media screen and (max-width: 600px) {

/* Pour réaliser la bordure arrondies d'une couleur différente */
.App {
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  font-family: Kristen ITC;
}

.App-inside {
  font-family: Kristen ITC;
  border: solid;
  border-radius: 3%;
  border-width: 0.75em;    /*NO POURCENTAGE*/
  border-color: whitesmoke;
  background-color: #F1E3D7; 
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
}

/*Bob a gauche du titre*/
.App-logo {
  height: 32vmin;
  pointer-events: none;
}

/* Logo header polygon*/
.Crypto-logo {
  height: 4vmin; 
  pointer-events: none;
  float: right;
}

/* Logo indiquant un scanner de qrcode*/
.Crypto-logo-scan {
  height: 7vmin; 
  pointer-events: none;
  margin: 0px 0px -15% 0.5%;
}

/* Les petits logos se trouvant dans la balise img_text des popup modal*/
.Crypto-logo-modal {
  height: 6vmin; 
  pointer-events: none;
  margin-left: 20%;
}

.polygon {
  display: flex;
  align-items: center;
  margin-top: -0.2%;
  margin-left : 5%;
}

#metamask {
  border: none;
  background: rgba(255,255,255, 0.6);
  margin-left:65%;
  font-size: 7px;
  width: 50%;
}

#polygon {
  float: right;
  text-align: left;
  margin:0.5%;
  font-size: 7px;
  width: 50%;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto auto auto;
  background: linear-gradient(to right, #905430ff, #B5651D, #B88D6B );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.QR {
  display: inline-block;
  text-align: center;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bonus, .Soirees, .Bobtail, .Own {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  align-items: center;
}


/* Gestion du scroll et des couleurs du planning des soirées*/
#scroll {
  text-align: center;
}

.on {
  opacity: 100;
}

.off {
  display:none;
}

.avant {
  color: #905430ff;
}

.apres {
  color: grey;
}

/* tableau des reducs*/
table {
  text-align: left;
  font-size: 7px;
  width: 40%;
  margin-left: 30%;
  margin-top: 3%;
}

/* Mise en forme text*/
h1 {
  font-size: 28px; 
}

h2 {
  font-size: 12px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

h3 {
  font-size: 8px;
  margin: 0.8%;
}

p {
  font-size: 7px;
  margin-top: 0.75%;
  margin-bottom: 0.75%;
}

/*Mise en page des titres*/
#part {
  text-align: left;
  margin-left: 28%;
  background: linear-gradient(to right, #905430ff, #B88D6B );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#part2 {
  text-align: center;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
  font-size: 10px;
}

#part3 {
  text-align: left;
  margin-left: 28%;
}

#part4 {
  text-align: left;
  margin-left: 30%;
  margin-top: -1%;
  margin-bottom: 2%;
}

p#gauche {
  text-align: left;
  margin-left: 40%;
}

/* Element d'interaction user*/
input {
  color: gray;
  background-color: white;
  font-family: Kristen ITC;
  padding: 3%;
  width: auto;
  font-size: 7px;
  letter-spacing: 2;
  cursor: pointer;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin-left: -15%;
  border-radius: 10px;/*NO POURCENTAGE*/
}

select {
  color: black;
  background-color: white;
  padding: 0.2%;
  width: auto;
  font-size: 5px;
  letter-spacing: 2;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin: 1%;
  border-radius: 10px;/*NO POURCENTAGE*/
}

button {
  color: black;
  background-color: white;
  font-family: Kristen ITC;
  padding: 0.75%;
  width: auto;
  font-size: 8px;
  letter-spacing: 2;
  cursor: pointer;
  border-radius: 10px; /*NO POURCENTAGE*/
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin: 0.3%; 
}

button:hover,
#valider:hover,
#planning:hover,
#scan:hover,
#aper:hover,
#jeveux:hover {
  background-color: whitesmoke;
}

#valider {
  color: black;
  background-color: white;
  padding: 0.75%;
  width: auto;
  font-size: 8px;
  letter-spacing: 2;
  cursor: pointer;
  border-radius: 10px; /* NO POURCENTAGE */
  border: none;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  box-shadow: 3px 3px grey;  /* NO POURCENTAGE */
  margin: 0.3%;
}

#planning {
  border: none;
  background: rgba(255,255,255, 0.6);
  margin-top: 2%;
  margin-bottom: 2%;
}

#scan {
  border:none;
  background: none;
}

#aper {
  border:none;
  background: rgba(255,255,255, 0.6);
  float: top;
  margin-right:20%;
  margin-left: 20%;
  margin-bottom: 5%;
}

#jeveux {
  border:none;
  background: rgba(255,255,255, 0.6);
  float: bottom;
  margin-right:20%;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 8px;
}

/*Ligne separateur*/
hr {
  height: 10px;
  color: #c06c84;
  background-color: #c06c84;
  width: 80%; 
  border: none;
  border-radius: 20%;
  align-self: center;
  margin-top: 5%;
  margin-bottom: 2%;
  
}

/* Animation appararition lente texte*/
/* TODO*/
.fade-in {
  display: block;
  text-shadow: 
    0 1px 10px var(--color1),
    0 2px 20px var(--color2),
    0 3px 40px var(--color3),
    0 4px 80px var(--color4);
  will-change: color;
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
  
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  display: block;
  text-shadow: 
  0 1px 10px var(--color1),
  0 2px 20px var(--color2),
  0 3px 40px var(--color3),
  0 4px 80px var(--color4);
  will-change: color;
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;

  animation: fadeOut 10s;
  -webkit-animation: fadeOut 10s;
  -moz-animation: fadeOut 10s;
  -o-animation: fadeOut 10s;
  -ms-animation: fadeOut 10s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#fade {
  font-size: 7px;
}

/*Footer*/
.social-container {
  font-family: 'quiet_backyard_sansregular', sans-serif;
  background: #FAF1EB;
  margin-left : 2%;
  float: left;
  width: 50%;
}

.plaisir {
  font-family: 'quiet_backyard_sansregular', sans-serif;
  float: right;
  text-align: right;
  display:inline; 
  margin-right : 2%;
  width: 30%;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color:  #C32AA3 ;
}

#suivez {
  font-size: 8px;
  width: auto;
}

/* Gestion des popup*/
.modal {
  background-color: #FAF1EB;
  text-align: center;
  margin-top:-3%;
  color: black;
  box-shadow: 7px 7px grey;
}

.align {
  display: flex;
  justify-content: center;
}

.align_head {
  justify-content: center;
}

a{
  color: #905430ff;
  font-size: 8px;
}

/* affichage bob aleatoire */

.stack {
  float: right;
  width:30%;
  margin-right: 15%;
}

.jeveuxmonbob {
  float: left;
  width:40%;
  margin-left: 10%;
  margin-top: 3%;

}

p#gauche2 {
  text-align: left;
  margin-left: 5%;
}

.randoms {
  display: block;
  margin-left:7%;
  margin-top:7%;
  justify-content: center;
}

.bob_top {
  position: relative;
  transform: rotate(15deg);
  float: right;
  z-index: 1;
  margin-right: 15%;
  width: 40%;
  height: 40%;
  margin-top: -5%;
  border:solid;
  border-color: #905430ff;
}

.bob_bottom {
  transform: rotate(-15deg);
  float: right;
  width: 40%;
  height: 40%;
  margin-top: -5%;
  border:solid;
  border-color: #905430ff;
}
}

/* GRAND ECRAN */
@media screen and (min-width: 601px) {

/* Pour réaliser la bordure arrondies d'une couleur différente */
.App {
  width: 100%;
  height: 120%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  font-family: Kristen ITC;
}

.App-inside {
  font-family: Kristen ITC;
  border: solid;
  border-radius: 3%;
  border-width: 0.75em;    /*NO POURCENTAGE*/
  border-color: whitesmoke;
  background-color: #F1E3D7; 
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
}

/*Bob a gauche du titre*/
.App-logo {
  height: 32vmin;
  pointer-events: none;
}

/* Logo header polygon*/
.Crypto-logo {
  height: 4vmin; 
  pointer-events: none;
  float: right;
}

/* Logo indiquant un scanner de qrcode*/
.Crypto-logo-scan {
  height: 7vmin; 
  pointer-events: none;
  margin: 0px 0px -15% 0.5%;
}

/* Les petits logos se trouvant dans la balise img_text des popup modal*/
.Crypto-logo-modal {
  height: 6vmin; 
  pointer-events: none;
  margin-left: 20%;
}

.polygon {
  display: flex;
  align-items: center;
  margin-top: -0.2%;
  margin-left : 1%;
}

#metamask {
  border: none;
  background: rgba(255,255,255, 0.6);
  margin-left:65%;
  font-size: 20px;
  width: 50%;
}

#polygon {
  float: right;
  text-align: left;
  margin:0.5%;
  font-size: 20px;
  width: 50%;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto auto auto;
  background: linear-gradient(to right, #905430ff, #B5651D, #B88D6B );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.QR {
  display: inline-block;
  text-align: center;
  align-items: center;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bonus, .Soirees, .Bobtail, .Own {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  align-items: center;
}


/* Gestion du scroll et des couleurs du planning des soirées*/
#scroll {
  text-align: center;
}

.on {
  opacity: 100;
}

.off {
  display:none;
}

.avant {
  color: #905430ff;
}

.apres {
  color: grey;
}

/* tableau des reducs*/
table {
  text-align: left;
  font-size: 20px;
  width: 40%;
  margin-left: 30%;
  margin-top: 3%;
}

/* Mise en forme text*/
h1 {
  font-size: 100px; 
}

h2 {
  font-size: 35px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

h3 {
  font-size: 25px;
  margin: 0.8%;
}

p {
  font-size: 20px;
  margin-top: 0.75%;
  margin-bottom: 0.75%;
}

/*Mise en page des titres*/
#part {
  text-align: left;
  margin-left: 28%;
  background: linear-gradient(to right, #905430ff, #B88D6B );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#part2 {
  text-align: center;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3%;
  font-size: 30px;
}

#part3 {
  text-align: left;
  margin-left: 28%;
}

#part4 {
  text-align: left;
  margin-left: 30%;
  margin-top: -1%;
  margin-bottom: 2%;
}

p#gauche {
  text-align: left;
  margin-left: 40%;
}

/* Element d'interaction user*/
input {
  color: gray;
  background-color: white;
  font-family: Kristen ITC;
  padding: 3%;
  width: auto;
  font-size: 20px;
  letter-spacing: 2;
  cursor: pointer;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin-left: -15%;
  border-radius: 10px;/*NO POURCENTAGE*/
}

select {
  color: black;
  background-color: white;
  padding: 0.2%;
  width: auto;
  font-size: 15px;
  letter-spacing: 2;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin: 1%;
  border-radius: 10px;/*NO POURCENTAGE*/
}

button {
  color: black;
  background-color: white;
  font-family: Kristen ITC;
  padding: 0.75%;
  width: auto;
  font-size: 25px;
  letter-spacing: 2;
  cursor: pointer;
  border-radius: 10px; /*NO POURCENTAGE*/
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  margin: 0.3%; 
}

button:hover,
#valider:hover,
#planning:hover,
#scan:hover,
#aper:hover,
#jeveux:hover {
  background-color: whitesmoke;
}

#valider {
  color: black;
  background-color: white;
  padding: 0.75%;
  width: auto;
  font-size: 25px;
  letter-spacing: 2;
  cursor: pointer;
  border-radius: 10px; /* NO POURCENTAGE */
  border: none;
  transform: all 1s cubic-bezier(0.42, 0, 0.17, 0.71);
  box-shadow: 3px 3px grey;  /* NO POURCENTAGE */
  margin: 0.3%;
}

#planning {
  border: none;
  background: rgba(255,255,255, 0.6);
  margin-top: 2%;
  margin-bottom: 2%;
}

#scan {
  border:none;
  background: none;
}

#aper {
  border:none;
  background: rgba(255,255,255, 0.6);
  float: top;
  margin-right:20%;
  margin-left: 20%;
  margin-bottom: 5%;
}

#jeveux {
  border:none;
  background: rgba(255,255,255, 0.6);
  float: bottom;
  margin-right:20%;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 25px;
}

/*Ligne separateur*/
hr {
  height: 10px;
  color: #c06c84;
  background-color: #c06c84;
  width: 80%; 
  border: none;
  border-radius: 20%;
  align-self: center;
  margin-top: 5%;
  margin-bottom: 2%;
  
}

/* Animation appararition lente texte*/
/* TODO*/
.fade-in {
  display: block;
  text-shadow: 
    0 1px 10px var(--color1),
    0 2px 20px var(--color2),
    0 3px 40px var(--color3),
    0 4px 80px var(--color4);
  will-change: color;
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;
  
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  display: block;
  text-shadow: 
  0 1px 10px var(--color1),
  0 2px 20px var(--color2),
  0 3px 40px var(--color3),
  0 4px 80px var(--color4);
  will-change: color;
  color: lightyellow;
  --color1: yellow;
  --color2: gold;
  --color3: orange;
  --color4: darkred;

  animation: fadeOut 10s;
  -webkit-animation: fadeOut 10s;
  -moz-animation: fadeOut 10s;
  -o-animation: fadeOut 10s;
  -ms-animation: fadeOut 10s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#fade {
  font-size: 20px;
}

/*Footer*/
.social-container {
  font-family: 'quiet_backyard_sansregular', sans-serif;
  background: #FAF1EB;
  margin-left : 2%;
  float: left;
  width: 50%;
}

.plaisir {
  font-family: 'quiet_backyard_sansregular', sans-serif;
  float: right;
  text-align: right;
  display:inline; 
  margin-right : 2%;
  width: 30%;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color:  #C32AA3 ;
}

#suivez {
  font-size: 25px;
  width: auto;
}

/* Gestion des popup*/
.modal {
  background-color: #FAF1EB;
  text-align: center;
  margin-top:-3%;
  color: black;
  box-shadow: 7px 7px grey;
}

.align {
  display: flex;
  justify-content: center;
}

.align_head {
  justify-content: center;
}

a{
  color: #905430ff;
  font-size: 25px;
}

/* affichage bob aleatoire */

.stack {
  float: right;
  width:30%;
  margin-right: 15%;
}

.jeveuxmonbob {
  float: left;
  width:40%;
  margin-left: 10%;
  margin-top: 3%;
}

p#gauche2 {
  text-align: left;
  margin-left: 5%;
}

.randoms {
  display: block;
  margin-left:7%;
  margin-top:7%;
  justify-content: center;
}

.bob_top {
  position: relative;
  transform: rotate(15deg);
  float: right;
  z-index: 1;
  margin-right: 15%;
  width: 40%;
  height: 40%;
  margin-top: -5%;
  border:solid;
  border-color: #905430ff;
}

.bob_bottom {
  transform: rotate(-15deg);
  float: right;
  width: 40%;
  height: 40%;
  margin-top: -5%;
  border:solid;
  border-color: #905430ff;
}
}
